/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.container > header {
	padding: 0.875em 1.875em 1.875em 0.875em;
	position: fixed;
	z-index: 1000;
	width: 220px;
	left: 3%;
	height:210px;
	background:#fff;
	top:30px;
}

.container > section {
	padding: 0em 1.875em 1.875em 0.875em;
	position: fixed;
	z-index: 1000;
	width: 520px;
	left: 20%;
	height:410px;
	background:none;
	top:30px;
}

.sub{
	display: none;
	background:#fff;
	float: left;
	width: 520px;
	padding: 0em 1.875em 1.875em 0.875em;	
}
h2{
	font-size: 1em;
	line-height: 1.3;
 	float: left;
	font-weight: 800;
	color: #333;
	text-align: left;
	padding-bottom: 3px;
	border-bottom: 1px solid #ccc;	
	width: 100%;
  }
h3{
	font-size: 1em;
	line-height: 0.3;
 	float: left;
	font-weight: 800;
	color: #333;
	text-align: left;
 	width: 100%;
 	padding:10px 0px;
 	margin:0;
  }  
  p{
  	float:left;
  	clear:both;
  	margin: 5px 0px;
  	text-align: left;
	font-weight: 800;
	color: #333;  	
	font-size: .8em;

  }
.container > header h1 {
	font-size: 1em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 800;
	color: #333;
	width: 190px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ccc;
}

.container > header span {
	font-size: 1em;	
	display: block;
	font-weight: bold;
  	padding: 0 0 0.6em 0.1em;
  	margin-top:3px;
  	float:left;
 	color: #000;
}

ul{
	list-style: none;
	float: left;
	padding:10px 0px;margin:0;
}
li{
	float: left;
	clear: both;
	text-align: left;
	margin: 0;
	padding:0;
	line-height: 30px;
	text-transform: uppercase;
	font-size: .8em;
	color: #333;
		font-weight: 800;

}
li a{
	float: left;
	clear: both;
	text-align: left;
	margin: 0;
	padding:0;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 1em;
	color: #333;
	font-weight: 800;
}
li a:hover{
	color:#000;
}

.container > header nav {
	float: right;
}

.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #fff;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #fff;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	background: #47a3da;
}

.icon-drop:before, 
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}

